/* These css are taken from vanilla theme and modified to work in dynamic table tag cell */

/* for close svg button*/
.nk-dyntable-tc-edit-tags button.tc-remove-tag-button svg {
	font-size: 0.7em;
	vertical-align: middle;
}

/* for add button and input */
.nk-dyntable-tc-edit-tags > .tc-edit-add-tag {
	font-size:0.8em;
}

/* for added tags displayed */
.nk-dyntable-tc-edit-tags span.tc-tag-label{
	font-size:0.85em;
}

/* for dropdown tags */
.nk-dyntable-tc-edit-tags .tc-block-tags-dropdown span.tc-tag-label {
	font-size:1.05em;
}

